{{!< default}}
{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}
<header id="navi-header" class="navi-header navi-header-large">
  <a href="#" class="navi-brand">{{@blog.title}}</a>
  <nav class="navi-right">
    <a href="#Articles">Articles</a>
    <a href="#Curriculum">Curriculum</a>
    <a href="#Projects">Projects</a>
    <a href="#Contact">Contact</a>
  </nav>
</header>
<section>
  <div id="site-hero" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
      <div class="vertical animated bounceInDown">
          <div id="site-head-content" class="inner">
              {{#if @blog.logo}}<a id="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
              <h1 class="blog-title">{{@blog.title}}</h1>
              <hr class="hero-space"></hr>
              <h2 class="blog-description">{{@blog.description}}</h2>
          </div>
      </div>
  </div>
</section>
{{! Article content }}
<section id="Articles" class="js-waypoint" data-animate-down="navi-header-small" data-animate-up="navi-header-large">
    {{! Each post will be output using this markup }}
    {{#foreach posts}}
    <article class="{{post_class}}">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{#if tags}}on {{tags}}{{/if}}</span>
            <h3 class="post-title"><a href="{{url}}">{{{title}}}</a></h3>
        </header>
        <div class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </div>
    </article>
    {{/foreach}}
    {{!! After all the posts, we have the previous/next pagination links }}
    <a></a>
</section>
<section id="Curriculum">
  <div class="container">
    <h2 class="section-title">CURRICULUM</h2>
    <hr class="hero-space"></hr>
    <div class="row content">
      <div class="col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
        <h3 class="sub-section-title">Work Experience</h3>
        <ul class="curriculum">
          <li>Tulane University, Application Developer/ Devops Engineer</li>
          <li>Tulane University, Web Developer</li>
          <li>Tulane University, Data Center Operator</li>
          <li>Freelance Filmmaker</li>
          <li>Oviatt Library, Archivist</li>
          <li>IFP Minnesota, Office PA</li>
          <li>Nicolett Village Video, Video Clerk</li>
        </ul>
      </div>
      <div class="col-md-5 col-lg-4">
        <h3 class="sub-section-title">Education</h3>
        <ul class="curriculum">
          <li>California State University Northridge, B.A. Cinema and Television Arts</li>
          <li>Minneapolis Community and Technical College, A.S. Screenwriting</li>
        </ul>
        <h3 class="super-sub-section-title">Training</h3>
        <ul class="super-sub-section-ul">
          <li class="li-lead">Structural Theory, </li>
          <li class="li-lead">Sequence Approach, Hafed Bouassida, MCTC</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="Projects">
  <div class="container">
    <h2 class="section-title">Projects</h2>
    <hr class="hero-space"></hr>
    <div class="projects-content">
      <div class="row">
        <div class="col-md-3 col-md-offset-3 code-projects">
          <h3 class="project-section-title">Code</h3>
          <a href="https://github.com/cscawley" target="_blank" class="icon-github"></a>
        </div>
        <div class="col-md-3 film-projects">
          <h3 class="project-section-title">Film</h3>
          <a href="http://www.imdb.com/name/nm5579947" target="_blank" class="icon-imdb"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="Contact">
  <div class="container">
    <h2 class="section-title">Contact</h2>
    <hr class="hero-space"></hr>
    <div class="contact-content">
      <div class="row">
        <div class="col-md-4 col-md-offset-3"></div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-2 contact-twitter">
          <a href="https://twitter.com/cscawley" target="_blank" class="icon-twitter icon-contact"></a>
        </div>
        <div class="col-md-2 contact-secret">
          <a href="https://discord.gg/0Yfbg2VlnJgBkzGb" target="_blank" class="icon-discord icon-contact"></a>
        </div>
        <div class="col-md-2 contact-linkedin">
          <a href="" target="_blank" class="icon-linkedin icon-contact"></a>
        </div>
        <div class="col-md-2 contact-secret">
          <a href="" target="_blank" class="icon-secret icon-contact"></a>
        </div>
      </div>
    </div>
  </div>
</section>
